{% extends 'base.html.twig' %}

{% block title %}Hello BiographieController!{% endblock %}

{% block body %}

<img src="..." alt="..." />

{% for artiste in artiste %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h4 class="card-title">{{ artiste.prenom }} {{ artiste.nom }}  </h4>
        <h5 class="card-title"> né le : {{ artiste.datenaissance |date("d/m/yy") }} </h5>
        <p class="card-text"> {{ artiste.biographie }} </p>
    </div>
</div>
{% endfor %}

{% endblock %}
