@import "~bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, p
{
    color:#595959 !important;
}

// NavBar
#navbar
{
    background-color: #303030 !important;
}
.navbar-toggler-icon
{
    color: #99ccff !important;
}
#collapsibleNavbar
{
    justify-content: flex-end;
}
.nav-item
{
    margin-right: 1rem;
}
.nav-link
{
    border-bottom: 1px solid #99ccff;
}
#dropmenu
{
    background-color: #303030 !important;
    border: none;
}
.dropdown-item
{
    color: silver !important
}

/////////////////////
// Page d'accueil //
////////////////////
main
{
    background-image: url('../images/background.jpg');
}

.album
{
    background-color: #303030;
}

/* Card */
.card 
{
    align-items: center;
}
footer
{
    background-color: #303030;
    color: silver;
    padding: 1.5rem;
}