{# {% extends 'base.html.twig' %}



{% block body %}
    <h1> Page de connexion </h1>

    {{ form_start(form) }}
    
    {{ form_row(form.login, {'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}
    {{ form_row(form.motDePasse, {'attr': {'placeholder': 'Mot de passe'}}) }}


    <button type='submit' class='btn btn-success'> Connexion </button>
    {{ form_end(form) }}

{% endblock %} #}
